<main>
  <table>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Timestamp</th>
      <th>Author</th>
      <th>Comments</th>
    </tr>

    {{#each posts as |post|}}
      <tr>
        <td data-test="post-id">{{post.id}}</td>
        <td data-test="post-message">{{post.message}}</td>
        <td data-test="post-timestamp">{{post.timestamp}}</td>
        <td data-test="post-author">{{post.author.name}}</td>
      </tr>
    {{/each}}
  </table>

  <button
      data-test="create-record-button"
      onclick={{action handleCreateRecordClick}}>
    Create Record
  </button>

  <button
      data-test="update-record-button"
      onclick={{action handleUpdateRecordClick}}>
    Update Record
  </button>

  <button
      data-test="find-record-button"
      onclick={{action handleFindRecordClick}}>
    Find Record
  </button>

  <button
      data-test="find-all-button"
      onclick={{action handleFindAllClick}}>
    Find All
  </button>

  <button
      data-test="delete-record-button"
      onclick={{action handleDeleteRecordClick}}>
    Delete Record
  </button>

  <button
      data-test="query-record-with-path-button"
      onclick={{action handleQueryRecordWithPathClick}}>
    Query Record With Path
  </button>

  <button
      data-test="query-record-without-path-button"
      onclick={{action handleQueryRecordWithoutPathClick}}>
    Query Record Without Path
  </button>

  <button
      data-test="query-with-path-button"
      onclick={{action handleQueryWithPathClick}}>
    Query With Path
  </button>

  <button
      data-test="query-without-path-button"
      onclick={{action handleQueryWithoutPathClick}}>
    Query Without Path
  </button>

  <button
      data-test="load-more-query-records-button"
      onclick={{action handleLoadMoreQueryRecordsClick}}>
    Load More Query Records
  </button>

  <button
      data-test="reset-record-button"
      onclick={{action handleResetRecordsClick}}>
    Reset Records
  </button>
</main>

{{outlet}}
